/* Utility */


/* / Utility */



:root {
    --theme-change-duration: .7s
}

html.light {
    --color-bg: #fff;
    --color-text: #000;
}

html.dark {
    --color-bg: #222;
    --color-text: #fff;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    transition: background-color var(--theme-change-duration), color var(--theme-change-duration);
}

* {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
}

header {}

.theme {
    --height: clamp(50px, 20vw, 50px);

    display: flex;
    margin: 0 auto;
    width: fit-content;

    p {
        font-size: calc(var(--height) * 0.5);
        align-content: center;
        margin-right: calc(var(--height) * 0.2);
    }


    #theme-toggle+label {

        display: block;
        height: var(--height);
        width: var(--height);
        background-color: var(--color-text);
        border-radius: 9999px;
        transition: background-color var(--theme-change-duration);

        &:before {
            position: absolute;
            height: calc(var(--height) * 0.9);
            aspect-ratio: 1/1;
            margin: calc(var(--height) * 0.05);
            background-color: var(--color-bg);
            content: '';
            border-radius: 9999px;
            transition: 0.2s;
        }
    }
}


@keyframes themeChange-label {
    0% {
        background-color: var(--color-text);
    }
    80% {
        height: 0;
        transform: translate(calc(var(--height) * 0.45), calc(var(--height) * 0.45));
        background-color: var(--color-text);
    }
    100% {
        height: calc(var(--height) * 0.9);
        background-color: var(--color-bg);
    }
}

.themeChange-label::before {
    animation: themeChange-label var(--theme-change-duration); 
}





.business-card {
    width: clamp(180px, 80vw, 450px);
    font-size: clamp(20px, 8vw, 40px);
    margin: 0 auto;

    li {
        height: clamp(45px, 20vw, 100px);
        display: flex;
        align-items: center;
        justify-content: space-between;


        transform: translateY(150px);
        opacity: 0;

        &.arrive {
            transition: transform .6s, opacity .3s ease-in;
            transform: translateY(0);
            opacity: 1;
        }
        
        &:not(:first-child) {
            margin-top: clamp(5px, 3vw, 20px);
        }

        img {
            user-select: none;
            height: 100%;
        }
    }
}


.name {
    background: rgb(221, 255, 189);
    border: clamp(3px, 1.5vw, 5px) solid rgba(35, 165, 90);
    border-radius: clamp(5px, 1.1vw, 10px);

    color: rgb(9, 135, 61);
    padding: 5px 10px;
    text-wrap: nowrap;
    font-size: clamp(15px, 7vw, 50px);
}



.qrcode-modal {
    display: flex;
    position: fixed;
    inset: -100px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, .7);

    img {
        width: min(400px, 100vw);
    }
}

.message-modal{
    --distanceY: min(10vh, 50px);

    display: flex;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 13px;
    background: rgb(221, 255, 189);
    border-radius: 100vh;

    color: rgb(9, 135, 61);
    border: 2px solid black;
    
    text-wrap: nowrap;
    font-size: clamp(13px, 7vw, 30px);
    color: black;

    top: var(--distanceY);
    opacity: 0;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}

@keyframes message-modal{
    0%{
        top: var(--distanceY);
    }
    20%{
        opacity: 1;
    }
    80%{
        opacity: 1;
        top: var(--distanceY);
    }
    100%{
        top: -10px;
    }
}