body {
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
}

.container {
    width: 50%;
    min-width: 340px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.name {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    list-style: none;
    background: rgb(200, 255, 150);
    border: 4px solid rgba(35, 165, 90);
    border-radius: 10px;

    padding: 5px;
    text-wrap: nowrap;
    font-size: 40px;
}












.social {
    font-size: 30px;
}

.social li {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.qrcode-link {
    display: none;
}

.social-icon {
    height: 100%;
}

.qrcode {
    height: 100%;
    aspect-ratio: 1 / 1;
}



.qrcode-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
}